body{
    margin: 0;
    padding: 0;
}
div{
    height: 100px;
    width: 200px;
    background-color: red;
    margin: 10px 10px 10px 10px;
}

#d2 {
    background-color: #00ff00;
}
.first {
    background-color: #0000ff;
}

#p1 span {
    color: red;
}

ul {
    color: red;
}

main > ul {
    color: blue;
}

#first_head + h2 {
    font-weight: bold;
    color: violet;
}

#quote_top ~ span {
    font-weight: bold;
}
